.h2 {
    margin-left: 400px;
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
  }
div{
    width:1200px;

    position:absolute;
    
    left:50%;
    
    margin-left:-200px;
}
.input{
   
    border-radius: 12px;
}
.p{
    color: #6c2eb9;
    font-family: Arial; 
}
.body{
    background-color: black;
}
