*{
	margin:0px;
	padding:0px;
	font-family: helvetica Neue;
	font-weight: lighter;
}

nav{
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: #2d2d2d;
}

ul{
	margin-top:150px;
	list-style: none;
	display: block;
}

li{
	width: 100%;
	height:50px;
	border-bottom: 1px solid #323232;
	overflow: hidden;
}

p.menu{
	position: relative;
	padding:16px;
	padding-right: 25px;
	float:right;
	color:white;
	opacity: .6;
	font-size: 1.2em;
	-webkit-transition: opacity .2s;
}

div.barra{
	position: absolute;
	height: 50px;
	width: 0px;
	background-color: #aaa;
	opacity: .1;
	-webkit-transition: width .2s;
}

li:hover div.barra{
	width:300px;
}

input#buscador{
	width:285px;
	height:50px;
	background-color: #3c3c3c;
	outline: none;
	border: 0px;
	color: white;
	font-size: 1.2em;
	text-align: right;
	padding-right:15px;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	-webkit-transition: background-position .2s;
}

input#buscador:focus{
	background-position: 300px 15px;
}

::-webkit-input-placeholder{
	color: #e2e2e2;
	text-align: right;
	opacity: .1;
}

li:hover p.menu{
	opacity: 1;

}
a.menu{
	position: relative;
	padding:16px;
	padding-right: 25px;
	float:right;
	color:white;
	opacity: .6;
	font-size: 1.2em;
	-webkit-transition: opacity .2s;
}
.dive{
	position:absolute;
	margin-top: 200px;
	margin-left: 600px;
	width:500px;
	height: 120px;
	background-color: black;
	border-radius: 12px;
}
.input{
	margin-left: 150px;
    border-radius: 12px;
}
.p{
    color: #6c2eb9;
    font-family: Arial; 
}
.body{
    background-color: black;
}
.h2 {
  
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
  }
.p2{
	margin-left: 150px;
	color: #6c2eb9;
    font-family: Arial; 
}
.h3{
	color: #35df68;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
}
#input{
	padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
	border-radius: 5px; 
	margin-left: 100px;
}
