table{
    margin-left:500px;

}
input{
    border-radius: 12px;
    border: 1px solid #E1E1E1;
}
td{
    border-radius: 10px;
    border: 4px solid #E1E1E1;
    color: #37c737;
}
form{
border: 5px;
   border-radius: 10px;

  font-family: "Helvetica";
}
h2{
    margin-left: 400px;
    color: #37c737;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
}
body{
    background-color: black;
}
